body{
    background-color: #F6F2EC;
}
.login-main,
.login-form{
    display: flex;
    justify-content: center;
}

.login-main{
    margin-top: 20vh;
}

.login-section{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 30px;
    background-color:#FFFFFF;
}

.login-form{
    flex-direction: column;
}
.login-form label {
    margin-top: 1vw;
}

#passWord,
#userName{
    border-radius: 6px;
    margin-top: 1vh;
    margin-bottom: 1.5rem;
    border-color:rgb(229, 224, 224);
    width: 20rem;
    height: 2rem;
}

.login-button{
    background-color: #fed5a3f0;
    border-radius: 6px;
    margin-top: 2.5rem;
    height: 2.5rem;
    
}

.validation{
    color: red;
    font-size: small;
}

.title {
    
}

.traveler-login{
    display: flex;
    flex-direction: column;
    align-items: center;

}